:root {
    --separator-width: 0.5em;
}

html,
body,
main {
    margin: 0;
    height: 100%;
}

main {
    box-sizing: border-box;
    padding: 1em;

    display: grid;
}

body:not(.vertical) main {
    grid-template-columns: 1fr var(--separator-width) 1fr;
}

body.vertical main {
    grid-template-rows: 1fr var(--separator-width) 1fr;
}

textarea {
    resize: none;
    color: transparent;
    caret-color: var(--text);
}

textarea,
#code-input-layers,
#code-highlight {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#code-input-layers {
    display: grid;
    background: var(--deep-background);
    font-size: 11pt;
}

#code-input-layers>* {
    grid-row: 1;
    grid-column: 1;

    border: none;
    outline: none;
    white-space: pre;
    background: none;

    font-size: inherit;
    font-family: inherit;
}

#code-highlight {
    pointer-events: none;
}

#code-input-container,
#output-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    box-sizing: border-box;
    padding: 0.25em;
    margin: 0;

    color: inherit;
    font-size: 11pt;

    background: var(--deep-background);
    border: 0.5em solid var(--deep-background);
    border-radius: 0.5em;
}

#output-container,
#code-input-container {
    font-family: 'JetBrainsMono';
    font-variant-ligatures: no-contextual;
    font-weight: normal;
}

#output {
    white-space: pre;
}

#code-input-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

textarea,
.line-numbers {
    font: inherit;
    font-size: inherit;
}

.line-numbers {
    margin: 0;
    opacity: 0.5;
    padding-right: 1em;
    /* to fix syncing issues when scroll bars would make the textarea longer,
       and the line numbers can't "keep up" */
    padding-bottom: 2em;
    min-width: 3ch;

    user-select: none;
    text-align: right;

    overflow: hidden;
}

body:not(.vertical) #separator,
body:not(.vertical).while-dragging,
body:not(.vertical).while-dragging * {
    cursor: ew-resize !important;
}

body.vertical #separator,
body.vertical.while-dragging,
body.vertical.while-dragging * {
    cursor: ns-resize !important;
}

#split-buttons {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

#split-buttons img {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.5;
    cursor: pointer;
}

#split-buttons img:hover {
    opacity: 1;
}
